/* Основные стили страницы */
body {
    font-family: Arial, sans-serif;

}

/* Стили заголовка и кнопки */
.header {
    display: flex;
    justify-content: flex-end; /* Выровнять элементы по правому краю */
    align-items: center;
    padding: 20px;
}

.header h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Помещаем видео на задний план */
    object-fit: cover; /* Чтобы видео заполнило весь экран */
}

.container {
    position: relative;
    z-index: 1; /* Помещаем содержимое на передний план */
    text-align: center;
    color: white; /* Цвет текста */
}

.button {
    position: absolute; /* Изменяем на absolute для перемещения */
    top: 20px; /* Отступ сверху */
    right: 20px; /* Отступ справа */
    background-color: #ff6347; /* Цвет кнопки */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 25px; /* Скругление углов */
}

.response-container {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Прозрачный черный фон для контейнера ответа */
    border-radius: 5px;
}

.home-button {
    position: absolute; /* Позволяет расположить кнопку относительно окна */
    top: 10px;         /* Расстояние от верхнего края */
    left: 10px;        /* Расстояние от левого края */
    padding: 10px 20px; /* Отступы внутри кнопки */
    font-size: 16px;   /* Размер шрифта */
    background-color: #2d0732; /* Цвет фона */
    color: white;      /* Цвет текста */
    border: none;      /* Убираем рамку */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer;   /* Указатель мыши при наведении */
}

.home-button:hover {
    background-color: #4e0f47; /* Цвет при наведении */
}
.home-button {
    position: absolute; /* Позволяет расположить кнопку относительно окна */
    top: 10px;         /* Расстояние от верхнего края */
    left: 10px;        /* Расстояние от левого края */
    padding: 10px 20px; /* Отступы внутри кнопки */
    font-size: 16px;   /* Размер шрифта */
    background-color: #2d0732; /* Цвет фона */
    color: white;      /* Цвет текста */
    border: none;      /* Убираем рамку */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer;   /* Указатель мыши при наведении */
}

.home-button:hover {
    background-color: #4e0f47; /* Цвет при наведении */
}
